.avatar {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-img {
    margin-bottom: 13px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-name {
    font-size: 12px;
}